
@font-face {
  font-family: 'THSarabunIT';
  src: url('THSarabunIT.eot?#iefix') format('embedded-opentype'),  url('THSarabunIT.woff') format('woff'), url('THSarabunIT.ttf')  format('truetype'), url('THSarabunIT.svg#THSarabunIT') format('svg');
  font-weight: normal;
  font-style: normal;
}
